/********** This is our style....never content here */

/* this meams all of the html elements */ 

* { 
    /* color: red; */
}

/* 
body main section:first-of-type h1:first-child {
    color: red;
}  */

/* nav a {
    color: white;
    background-color: darkblue;
}

nav a:last-of-type {
    background-color: red;
} */


.bkgr_color1 {background-color: green;}
.bkgr_color2 {background-color: greenyellow;}
.text_color1 {color:white;}
.text_color2 {color:yellow;}