/********** Globals *********/

* {
    box-sizing: border-box; /* dont add paddings to the elements size */
}

html,body {
    margin: 0;
}


/********** eo Globals ********/

.box {
    background-color:indianred;
}

.red {
    color: red;
}